@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
COLORI:
  Carrot Orange: #E89005
  Safety Orange: #EC7505
  Yale Blue: #083D77
  Mantis: #7AC74F
  Pistacchio: #A1CF6B
*/

.card {
  border: solid 2px black;
  margin: 0 auto;
  border-radius: 1rem;
}

.container-temp {
  border: solid 2px black;
  border-radius: 1rem;
}

.day-icon {
  width: 16px;
  height: 16px;
}
