@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
COLORI:
  Carrot Orange: #E89005
  Safety Orange: #EC7505
  Yale Blue: #083D77
  Mantis: #7AC74F
  Pistacchio: #A1CF6B
*/

li {
  list-style: none;
}

.meteo-container {
  justify-content: space-between;
}

.giorni-list,
.temp-list,
.day-icon-list {
  justify-content: space-between;
  margin-right: 1rem;
}

.card {
  border: solid 2px black;
  margin: 0 auto;
  border-radius: 1rem;
  width: 640px;
}

.container-temp {
  border: solid 2px black;
  border-radius: 1rem;
}
.day {
  font-size: 16px;
}
.day-icon {
  width: 24px;
  height: 24px;
}

#map {
  height: 300px;
  border-radius: 1rem;
}
