@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
COLORI:
  Carrot Orange: #E89005
  Safety Orange: #EC7505
  Yale Blue: #083D77
  Mantis: #7AC74F
  Pistacchio: #A1CF6B
  T-MIN: #08b2e3
*/

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

li {
  list-style: none;
}

.day-icon {
  width: 100px;
  height: 100px;
}

.bottoni {
  margin: 20px 0;
  display: flex;
  gap: 150px;
}

.btn-next,
.btn-previous {
  width: 80px;
  height: 80px;
  cursor: pointer;
  fill: ##47352e;
}

.map-container {
  bottom: 0;
}

#map {
  height: 300px;
  width: 300px;
  border-radius: 1rem;
}

.container-temp {
  height: 400px;
}

ul {
  list-style: none;
  justify-content: center;
}

/* Css Copyright:
  Copyright - 2023 zanina-yassine (Yassine Zanina)
*/
.card {
  width: 350px;
  height: 235px;
  position: relative;
  padding: 25px;
  background: radial-gradient(
        178.94% 106.41% at 26.42% 106.41%,
        #fff7b1 0%,
        rgba(255, 255, 255, 0) 71.88%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #ffffff;
  box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01),
    0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09),
    0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}

.card-map {
  width: 350px;
  height: 350px;
  position: relative;
  padding: 25px;
  background: radial-gradient(
        178.94% 106.41% at 26.42% 106.41%,
        #fff7b1 0%,
        rgba(255, 255, 255, 0) 71.88%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #ffffff;
  box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01),
    0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09),
    0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}

.container {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 20px;
  top: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.7);
}
.card-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
/*Primo span dentro l'header (posto + stato)*/
.city {
  word-break: break-all;
  font-weight: 900;
  font-size: 15px;
  line-height: 135%;
  color: rgba(87, 77, 51, 0.803);
}

/*DATA*/
.card-header span:last-child {
  font-weight: 700;
  font-size: 15px;
  line-height: 135%;
  color: rgba(87, 77, 51, 0.46);
}

/*Temperatura*/
.max-temp {
  position: absolute;
  left: 30px;
  bottom: 65px;
  font-weight: 700;
  font-size: 48px;
  line-height: 77px;
  color: rgba(87, 77, 51, 1);
}

.min-temp {
  position: absolute;
  left: 30px;
  bottom: 12px;
  font-weight: 700;
  font-size: 48px;
  line-height: 77px;
  color: #08b2e3;
}

.label-venti {
  position: absolute;
  left: 160px;
  bottom: 105px;
}

.venti {
  position: absolute;
  left: 160px;
  bottom: 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 60px;
  color: rgba(87, 77, 51, 1);
}

.label-pioggia {
  position: absolute;
  left: 160px;
  bottom: 50px;
}

.pioggia {
  position: absolute;
  left: 160px;
  bottom: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 77px;
  color: rgba(87, 77, 51, 1);
}

/*Bottoncino a destra con Celsius*/
.temp-scale {
  width: 80px;
  height: 36px;
  position: absolute;
  right: 25px;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 9px;
}

/*span dentro il bottoncino*/
.temp-scale span {
  font-weight: 700;
  font-size: 13px;
  line-height: 134.49%;
  color: rgba(87, 77, 51, 0.66);
}
/* Css Copyright:
  Copyright - 2023 zanina-yassine (Yassine Zanina)
*/
